@import "variables";

.article-feature {
  text-align: center;
  padding-top: 42px;
}

.article-feature__list-item {
  padding-bottom: 50px;
}

.article-feature__heading {
  margin: 0;
  padding-bottom: 60px;
}

.article-feature__list {
  @include reset-ul;
}

.article-feature svg {
  fill: $colored_sky_blue
}

@media (min-width: $max_width_faux_column) {
  .article-feature {
    background-color: $colored_sky_blue;
    color: white;
    padding-block-start: 77px;
    padding-block-end: 70px;
  }

  .article-feature__list-item p::before {
    content: ".";
    display: inline-block;
    padding-inline-end: 0.5rem;
    font-weight: 900;
    font-size: x-large;
  }

  .article-feature__list-item {
    padding-bottom: 0px;
  }

  .article-feature svg {
    fill: currentColor;
    display: block;
  }

  .article-feature__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 52px;
    column-gap: 52px;
    grid-row-gap: 40px;
    row-gap: 40px;
  }

  .article-feature__list-item {
    text-align: start;
  }
}
