@import "variables";

:root {
  --side-padding: calc((360px - 320px) / 2);
}
body {
  background-color: $base_background-color;
  margin: auto;
  font-family: 'Lato';
}

li {
  @include reset-list;
}

.latest-info {
  font-size: $paragraph_font-size;
  display: flex;
  justify-content: $justify_content_center;
  font-weight: 400;
  padding-block-end: 3rem;
  color: $paragraph-color;
  margin: $center_margin;
}

.latest-info {
  max-width: 453px;
  display: flex;
  justify-content: $justify_content_center;
  padding-block-end: 5rem;
}

.main-header__heading {
  max-width: $main_header_width;
  display: flex;
  justify-content: $justify_content_center;
}


@media (min-width: $max_width_faux_column) {
  .site_logo__heading,
  .latest-info,
  .main-header__heading {
    margin-right: auto;
    margin-left: 0;
    text-align: $justify_content_start;
  }
  .latest-info {
    max-width: 453px;
  }

  .main-header__heading {
    max-width: $main_header_width;
  }

  .wrapper {
    max-width: $header_content_width;
  }

  .container {
    max-width: 1114px;
    margin: auto;
    max-height: 100%;
  }

  .site_logo {
    background-image: url('../img/bg_header.png');
    background-repeat: no-repeat;
    background-position: $header-background-position;
    padding-block-start: 1rem;
    padding-block-end: 10rem;
  }
};
