@import "variables";

:root {
  --side-padding: calc((360px - 320px) / 2);
}
body {
  background-color: $base_background-color;
  margin: auto;
  text-align: center;
}

li {
  list-style: $list-style;
  margin: 0;
}

.apps-list {
  max-width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.latest-info {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: $paragraph_font-size;
  text-align: center;
  font-weight: $paragraph_font-weight;
  padding-block-end: 3rem;
}

.latest-info {
  max-width: 453px;
  text-align: center;
}

.main-header__heading {
  max-width: $main_header;
  text-align: center;
}


@media (min-width: 1114px) {
  .latest-info,
  .main-header__heading,
  .site_logo__heading {
    text-align: center;
  }

  .site_logo__heading {
    text-align: start;
  }
  .latest-info {
    max-width: 453px;
    text-align: start;
  }

  .main-header__heading {
    max-width: $main_header;
    text-align: start;
  }

  .wrapper {
    max-width: $header_content;
  }

  .container {
    max-width: 1114px;
    margin: auto;
    max-height: 100%;
  }

  header {
    background-image: url('../img/bg_header.png');
    background-repeat: no-repeat;
    background-position: $header-background-position;
    padding-block-start: 1rem;
    padding-block-end: 10rem;
  }
};
