.article-feature__paragraph + .article-feature__paragraph {
  padding-block-end: 3rem;
}

.article-featured_sports__heading {
  display: flex;
  justify-content: center;
  padding-block-end: 3rem;
  font-size: 28px;
  font-weight: 700;
}

.featured_sports__list-item--link {
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  min-height: 78px;
}

.featured_sports__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.featured_sports__list-item.sport_tv {
  flex-basis: 50%;
}

.featured_sports__list-item.sport {
  flex-basis: 50%;
}

.featured_sports__list-item.nbc-news {
  flex-basis: 33%;
}

.featured_sports__list-item.technology {
  flex-basis: 33%;
}

.featured_sports__list-item.designer-news {
  flex-basis: 33%;
}

.featured_sports__list-item.sport-sky {
  flex-basis: 100%;
}

.featured_sports__list-item--link.sport_tv {
  background-image: url(../img/logo_sports_tv.svg);
}

.featured_sports__list-item--link.sport {
  background-image: url(../img/logo_sports_channel.svg);
}

.featured_sports__list-item--link.nbc-news {
  background-image: url(../img/logo_nbc_sports.svg);
}

.featured_sports__list-item--link.technology {
  background-image: url(../img/logo_designer_technology.svg);
}

.featured_sports__list-item--link.designer-news {
  background-image: url(../img/logo_designer_news.svg);
}

.featured_sports__list-item--link.sport-sky {
  background-image: url(../img/logo_sky_sports.svg);
}

.featured_sports__list-item span {
  visibility: hidden;
}

@media (min-width: $max_width_faux_column) {
  .featured_sports__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
