@import "variables";

@font-face {
  font-family: #{$base_font-family};
  font-weight: #{$subheading_font-weight};
  src: /*local('Lato-Bold'),*/
       url(#{$woff2-bold-url}) format(woff2),
       url(#{$woff-bold-url}) format(woff),
}

@font-face {
  font-family: 'Lato';
  font-weight: $paragraph_font-weight;
  src: /*local('Lato-Regular'),*/
       url(#{$woff2-regular-url}) format(woff2),
       url(#{$woff-regular-url}) format(woff);
}
