@import "variables";

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: local('Lato-Bold'), local('Lato Bold'),
       url(../webroot/fonts/Lato-Bold.woff) format(woff),
       url(../webroot/fonts/Lato-Bold.woff2) format(woff2);
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: local('Lato-Bold'), local('Lato Bold'),
       url(../webroot/fonts/Lato-Regular.woff) format(woff),
       url(../webroot/fonts/Lato-Regular.woff2) format(woff2);
}
