@import "variables";

footer {
  display: flex;
  flex-direction: row;
  justify-content: $center_value;
  margin: $center_margin;
}

.apps-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.apps-list > li {
  padding-right: 1rem;
}

.main-footer {
  background-color: #00ADEE;
}

@media (min-width: $max_width_faux_column) {
  footer {
    justify-content: flex-start;
  }
}
