@import "variables";

footer {
  display: flex;
  flex-direction: row;
  justify-content: $center_value;
  margin: $center_margin;
}

@media (min-width: $max_width_faux_column) {
  footer {
    justify-content: flex-start;
  }
}
