@import "variables";

.footer_header {
  display: flex;
  flex-direction: row;
  justify-content: $center_value;
  margin: $center_margin;
}

.apps-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.apps-list > li {
  padding-right: 1rem;
}

.main-footer {
  background-color: #00ADEE;
  padding-block-end: 3rem;
  padding-block-start: 4rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.main-footer ul {
  @include footer-ul;
  @include reset-ul;
}

.navigation_list__container {
  justify-content: space-between;
}

.main-footer a {
  @include footer-anchor;
  color: #ffffff;
}

.main-footer .main-footer__sports-logo {
  display: block;
  width: 100%;
  height: 2rem;
  background-image: url(../img/logo_sports_white.svg);
  background-repeat: no-repeat;
}

.footer_media__list a {
  display: block;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
}

.footer_media__list span {
  visibility: hidden;
}

a[href="/twitter"] {
  background-image: url(../img/icon_twitter.svg);
}

a[href="/facebook"] {
  background-image: url(../img/icon_facebook.svg);
}

a[href="/gallery"] {
  background-image: url(../img/icon_instagram.svg);
}

@media (min-width: $max_width_faux_column) {
  footer {
    justify-content: flex-start;
  }

  .main-footer {
    @include footer-ul;
  }
}
