@import "variables";

.site_logo__heading {
  text-align: center;
  padding-bottom: 60px;
}

.wrapper {
  padding-bottom: 60px;
}

.main-header__heading {
  font-family: 'Lato';
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  padding-block-end: 2rem;
  color: $subheading_color;
  margin: $center_margin;
};

.site_logo__link--image {
  width: 160px;
  height: 80px;
}


@media (min-width:$max_width_faux_column) {
  .site_logo {
    padding-block-end: 162px;
  }

  .site_logo__link--image {
    width: 100px;
    height: 50px;
  }
}
