@import "width";

$subheading_color: 333333;
$subheading_font-size: 28px;
$paragraph_font-size: 16px;
$subheading_font-weight: 700;
$paragraph_font-weight: 400;
$base_font-family: "Lato";
$paragraph-color: #4f4f4f;
$woff2-bold-url: "../fonts/Lato-Bold.woff2";
$woff2-regular-url: "../fonts/Lato-Regular.woff2";
$woff-bold-url: "../fonts/Lato-Bold.woff";
$woff-regular-url: "../fonts/Lato-Regular.woff";
$list-style: none;
$base_background-color: #F4F6F9;
$header-background-position: calc(50vw - 11px) 270%;
