:root {
  --side-padding: calc((360px - 320px) / 2);
}
body {
  background-color: #F4F6F9;
  padding-inline-start: var(--side-padding);
  padding-inline-end: var(--side-padding);
}

@font-face {
  font-family: 'Lato';
  src: local("Lato"),
       url('../fonts/Lato-Regular.woff2'),
       url('../fonts/Lato-Regular.woff');
  font-weight: 400;
}

.latest-info {
  font-family: 'Lato';
  font-size: 16px;
  text-align: center;
}

/* Tablet or Desktop mode */
@media (min-width: 480px) {
  .latest-info {
    max-width: 453px;
    text-align: start;
  }

  .main-header__heading {
    max-width: 546px;
    text-align: start;
  }

  .site_logo__heading {
    text-align: start;
  }

  body {
    background-image: url('../img/bg_header-min-compressed.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%, 0%;
  }
}
