:root {
  --side-padding: calc((360px - 320px) / 2);
}
body {
  background-color: #F4F6F9;
  padding-inline-start: var(--side-padding);
  padding-inline-end: var(--side-padding);
}

a > span {
  display: none;
}

li {
  list-style: none;
}

ul {
  max-width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.latest-info {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  padding-block-end: 3rem;
}

.latest-info {
  max-width: 453px;
  text-align: start;
}

.main-header__heading {
  max-width: 532px;
  text-align: start;
}

/* Tablet or Desktop mode */
@media(min-width: 360px) {

  .latest-info,
  .main-header__heading,
  .site_logo__heading {
    text-align: start;
  }
}

@media (min-width: 1020px) {
  html {
    margin: auto;
    overflow: hidden;
  }

  body {
    background-image: url('../img/bg_header.png');
    background-repeat: no-repeat;
    background-position: 532px 80%;
  };
};
