:root {
  --side-padding: calc((360px - 320px) / 2);
}
body {
  background-color: #F4F6F9;
  padding-inline-start: var(--side-padding);
  padding-inline-end: var(--side-padding);
}

a > span {
  visibility: hidden;
}

.latest-info {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

picture {
  display: none;
}

/* Tablet or Desktop mode */
@media (min-width: 480px) {
  .latest-info {
    max-width: 453px;
    text-align: start;
  }

  .main-header__heading {
    max-width: 546px;
    text-align: start;
  }

  .site_logo__heading {
    text-align: start;
  }

  picture {
    display: block;
    position: absolute;
    top: -20%;
    bottom: 0;
    right: -10%;
  }
}
