.footer-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Tablet or desktop mode */

@media (min-width: 480px) {
  .footer-button {
    justify-content: flex-start;
  }
}
