.site_logo__heading {
  text-align: center;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato"),
       url('../fonts/Lato-Bold.woff2'),
       url('../fonts/Lato-Bold.woff');
  font-weight: bold;
}

.main-header__heading {
  font-family: 'Lato';
  font-size: 30px;
  text-align: center
};


/* Tablet or Desktop */

@media (min-width: 480px) {
  .site_logo__heading {
    text-align: start;
  }
}
