.site_logo__heading {
  text-align: center;
  padding-block-end: 4rem;
}

.main-header__heading {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  padding-block-end: 2rem;
};

/* Tablet or Desktop */

@media (min-width: 360px) {
  .site_logo__heading {
    text-align: start;
  }
}
