.site_logo__heading {
  text-align: center;
}

@font-face {
  font-family: 'Lato';
  src: local("Lato"),
       url('../fonts/Lato-Bold.woff2'),
       url('../fonts/Lato-Bold.woff');
  font-weight: bold;
}

.main-header__heading {
  font-family: 'Lato';
  font-size: 30px;
};
