/* importing files */
@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url(../fonts/Lato-Bold.woff2) format(woff2), url(../fonts/Lato-Bold.woff) format(woff); }

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url(../fonts/Lato-Regular.woff2) format(woff2), url(../fonts/Lato-Regular.woff) format(woff); }

.site_logo__heading {
  text-align: center;
  padding-block-end: 4rem; }

.main-header__heading {
  font-family: "$base_font-family", Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  padding-block-end: 2rem;
  color: #333333;
  margin: auto; }

.site_logo__link--image {
  width: 160px;
  height: 80px; }

@media (min-width: 1114px) {
  .site_logo__heading {
    padding-block-end: 10rem; }
  .site_logo__link--image {
    width: 100px;
    height: 50px; } }

:root {
  --side-padding: calc((360px - 320px) / 2); }

body {
  background-color: #F4F6F9;
  margin: auto; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

.latest-info {
  font-family: "$base_font-family", Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding-block-end: 3rem;
  color: #4f4f4f;
  margin: auto; }

.latest-info {
  max-width: 453px;
  display: flex;
  justify-content: center;
  padding-block-end: 5rem; }

.main-header__heading {
  max-width: 532px;
  display: flex;
  justify-content: center; }

@media (min-width: 1114px) {
  .site_logo__heading,
  .latest-info,
  .main-header__heading {
    margin-right: auto;
    margin-left: 0;
    text-align: start; }
  .latest-info {
    max-width: 453px; }
  .main-header__heading {
    max-width: 532px; }
  .wrapper {
    max-width: 550px; }
  .container {
    max-width: 1114px;
    margin: auto;
    max-height: 100%; }
  .site_logo {
    background-image: url("../img/bg_header.png");
    background-repeat: no-repeat;
    background-position: calc(50vw - 11px) 270%;
    padding-block-start: 1rem;
    padding-block-end: 10rem;
    background-size: contain; } }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto; }

.apps-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }

.apps-list > li {
  padding-right: 1rem; }

@media (min-width: 1114px) {
  footer {
    justify-content: flex-start; } }

img {
  max-width: 100%;
  max-height: 100%; }
